/* Great work on implementing font but you didn't implement the second font that was given in the Figma file */
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
/* Specifies the behavior of the 'width' and 'height' of properties */

body {
  font-family: 'Roboto', serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

.grid-container {
    display: grid;
    background-color: #F5F3EF;
    grid-gap: 5px; 
    grid-template-rows: 80px auto auto 80px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
      "header header header"
      "banner banner banner"
      "card-container card-container card-container"
      "footer footer footer";
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  width: 100%;
  padding: 40px;
}

.header-links{
  display: flex;
  gap: 20px;
  width: 20%;
}


.header-button {
  padding: 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 16px;
  font-size: 15px; 
  font-weight: bold;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  border: none;
}

.banner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: banner;
  padding: 30px;
}

/* To make this look better on mobile devices, on the mobile media query remove the width:90%; so that it takes the full screen.
And add text-align:center to align the text center. */
.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  /* margin-inline: auto; */
}

.tagline {
  font-size: 50px;
  font-weight: bold;
  line-height: 42px;
}

.description {
  padding-top: 5%;
  padding-right: 20%;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  line-height: 25px;
}

.banner-container img {
  width:100%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 10px;
  grid-area: card-container;
  padding: 30px;
}

.class-starter {
  display: grid;
  gap: 5px 10px; 
  padding: 15px;
  background-color: #FEBD2F;
  border-radius: 16px;
  width: 90%;
  padding: 10%;
  font-size: 25px;
  justify-self: center;
}

h4 {
  grid-area: name;
}

.image {
  grid-area: image;
}

.button {
  grid-area: button;
}

.class{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 16px;
  width: 90%;
  padding:10%;
  position: relative;
  justify-content: space-between;
 justify-self: center;
}
.course{
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
} 

.detail {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: small;
}

.card-icon{
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  top: -10%;
}

.card-icon img{
  width: 100%;
}

.button {
  display: flex;
  width: 40%;
  justify-content: center;
  border-radius: 16px;
  border: 1px solid lightgray; 
  font-family: "Roboto", sans-serif;
  font-size: small;
  cursor: pointer;
  padding: 3%;
}

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  background-color: #FEBD2F;
}



@media (max-width: 768px) {
.grid-container {
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: 80px auto auto auto 80px; */
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .banner-container {
    grid-template-columns: 1fr;
  }
  }
  
  .hamburger {
    display: none;
  }

@media (max-width: 468px) {
  .grid-container {
    grid-template-columns: 1fr;
    }

    .card-container {
      grid-template-columns:  1fr;
    }

    .hamburger{
      display: block;
    }

    .header-button{
      display: none;
    }

    /* Seems like you did a lot of progress for building a functional hamburger menu but on mobile device sizes I see the hamburger icon but the nav items are shown and doesn’t get toggled. Needs improvement. */
    .header-links{
      flex-direction: column;
      transform: translate(450%,100%);
    }

    .tagline {
      font-size: 50px;
      font-weight: bold;
      line-height: 42px;
    }

    .description {
      display: flex;
      padding-top: 5%;
      padding-bottom: 5%;
      font-size: 15px;
      font-family: "Roboto", sans-serif;
      line-height: 25px;
    }

}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

/* Overall, great work! You are doing good. Keep it up! 👏 */