* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
/* Specifies the behavior of the 'width' and 'height' of properties */

body {
  font-family: 'Roboto', serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

.grid-container {
    display: grid;
    background-color: #F5F3EF;
    grid-gap: 5px; 
    grid-template-rows: 80px auto auto 80px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
      "header header header"
      "banner banner banner"
      "card-container card-container card-container"
      "footer footer footer";
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  width: 100%;
  padding: 40px;
}

.header-links{
  display: flex;
  gap: 20px;
  width: 20%;
}


.header-button {
  padding: 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 16px;
  font-size: 15px; 
  font-weight: bold;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  border: none;
}

.banner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: banner;
  padding: 30px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tagline {
  font-size: 50px;
  font-weight: bold;
}

.description {
  padding-top: 5%;
  padding-right: 15%;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.banner-container img {
  width:100%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 10px;
  grid-area: card-container;
  padding: 30px;
}

.class-starter {
  display: grid;
  gap: 5px 10px; 
  padding: 15px;
  background-color: #FEBD2F;
  border-radius: 16px;
  width: 90%;
  padding: 10%;
  font-size: 25px;
}

h4 {
  grid-area: name;
}

.image {
  grid-area: image;
}

.button {
  grid-area: button;
}

.class{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 16px;
  width: 90%;
  padding:10%;
  position: relative;
 
}
.course{
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
} 

.detail {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: small;
}

.card-icon{
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  top: -20px;
}

.card-icon img{
  width: 100%;
}

.button {
  display: flex;
  width: 40%;
  justify-content: center;
  border-radius: 16px;
  border: 1px solid lightgray; 
  font-family: "Roboto", sans-serif;
  font-size: small;
  cursor: pointer;
  padding: 3%;
}

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  background-color: #FEBD2F;
}

@media (max-width: 768px) {
.grid-container {
  grid-template-columns: repeat(2, 1fr);
  grid-column: 1/-1;
  }
}

@media (max-width: 468px) {
  .grid-container {
    grid-template-columns: 1fr;
    }
}